# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Quarkus
*.log
*.tmp
*.swp

# IDEs
/.idea/
*.iml
*.ipr
*.iws
/.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
**/target/
**/.dockerignore
**/Dockerfile
**/Dockerfile.*

# Misc
*.class
*.jar
*.war
*.ear
